@model Application.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "This Blog has everything!!";
    ViewBag.Keywords = "blog programming travel photography";
    var basePath = Context.Request.PathBase;
}

<div class="main-img">
    <div class="title">Amazing Blog Site</div>
</div>

<div class="container">
    @foreach (var post in Model.Posts)
    {
        var imagePath = $"{basePath}/Image/{post.Image}";
        <a class="post"
           asp-controller="Home"
           asp-action="Post"
           asp-route-id="@post.Id">
            <img src="@imagePath" />
            <span class="title">@post.Title</span>
        </a>
    }


    <div class="pages">
        @if (Model.PageNumber > 1)
        {
            <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category"
               asp-route-pageNumber="@(Model.PageNumber - 1)">&lt;</a>
        }

        @for (var i = 1; i <= Model.PageCount; i++)
        {
            <a class="@(i == Model.PageNumber ? "active" : "")" asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category"
               asp-route-pageNumber="@i">@i</a>
        }

        @if (Model.NextPage)
        {
            <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category"
               asp-route-pageNumber="@(Model.PageNumber + 1)">&gt;</a>
        }
    </div>
</div>